body {
	padding: 0px;
	margin: 0px;
	background: 
		url('../Images/foreground.png') center top no-repeat,
		url('../Images/background.png') center top repeat;
	font-family: Verdana, arial, sans-serif;
	font-size: 12px;
	color: #373737;
}

body.ie7 , body.ie8 {
	background: url('../Images/foreground.png') center top no-repeat;
}

@font-face {
    font-family: 'tall_dark_and_handsomeCn';
    src: url('../Fonts/talldark-webfont.eot');
    src: url('../Fonts/talldark-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/talldark-webfont.woff') format('woff'),
         url('../Fonts/talldark-webfont.ttf') format('truetype'),
         url('../Fonts/talldark-webfont.svg#tall_dark_and_handsomeCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 36px;
}

h2 {
	color: #472626;	
	font-size: 24px;
	font-weight: normal;
}

hr {
	height: 2px;
	margin-bottom: 20px;
	color: #472626 !important;	
}

blockquote {
	margin-top: 10px;
	margin-bottom: 60px;
	padding: 0px 122px 0px 122px;
	background-image: url('../Images/quote.png');
	background-repeat: no-repeat;
	background-position: 65px 10px;

}

blockquote p {
	text-align: justify;
	font-family: Georgia, sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-style: italic;
}

iframe {
	width: 400px;
	height: 180px;
}

.indent { text-indent: -9999px;}

.textShadow {
	text-shadow: 0 1px 1px rgba(0,0,0,0.85);
}

#wrapper {
	width: 940px;
	margin: 0 auto;
}

/**********************************************/
/*				Main block appearence		  */
/**********************************************/	


.dotBkg {
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    -o-box-shadow: inset 0 0 5px #888;
    -ms-box-shadow: inset 0 0 5px #888;
    box-shadow: inset 0 0 5px #888;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 30px 20px 20px 20px;
}

.ie7 .dotBkg, .ie8 .dotBkg {
	background: url('../Images/background.png') center top repeat;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(128,128,128,0.5);
	behavior: url('jelix/js/PIE.htc');
	padding: 30px 20px 20px 20px;
}  

/**********************************************/
/*					header					  */
/**********************************************/	

#header {
	height: 135px;
	line-height: 135px;
	position: relative;
}

#mainTitle a {
	font-family: 'tall_dark_and_handsomeCn', serif;
	font-size: 60px;
	color: #fff;
	letter-spacing: 1px;
	font-weight: normal;
	text-decoration: none;
}

#header img {
	position: absolute;
	width: 175px;
	top: 30px;
	left: 280px;
	opacity: 0.85;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#header img:hover {
	opacity: 1;	
}

/**********************************************/
/*					Menu					  */
/**********************************************/

#nav ul {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

#nav li {
	display: inline;
}

#nav a {
	padding: 5px 15px;
	font-weight: normal;
	font-size: 18px;
	color: #ccc;
	color: rgba(255,255,255,0.7);
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ie7 #nav a {
	color: #ccc;
}

#nav a:focus,
#nav a:hover {
	color: #fff;
	background: rgba(255,255,255,0.15);
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
}

/**********************************************/
/*	Main Pictures call, about, news ...		  */
/**********************************************/

#picture {
	text-align: center;
	padding-top: 52px;
	height: 250px;
}

/**********************************************/
/*				Welcome Page				  */
/**********************************************/

#leftSide {
	float: left;
	width: 600px;
	margin-bottom: 35px;
}

#leftSide hr {
	width: 550px;
}

.ie #leftSide hr, .ie7 #leftSide hr, .ie8 #leftSide hr {
	text-align: left;
}

.args {
	float: left;
	margin-right: 55px;
	margin-bottom: 35px;
	width: 240px;
	height: 90px;
}

.args img {
	float: left;
	margin-right: 30px;
}

.args h3 {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: normal;
}

.args p {
	text-align: justify;
}

#rightSide {
	float: left;
}

/**********************************************/
/*					footer					  */
/**********************************************/

#footer {
	clear: both;
	height: 75px;
	background-color: #000000;
	border-top: 2px solid #AF0000;
	text-align: center;
	line-height: 75px;
}

#footer a:hover {
	text-decoration: none;
}

/**********************************************/
/*					messages boxes			  */
/**********************************************/

.noticeBox {
    width:905px;
    height: 50px;
    padding-bottom: 20px;
}

.msgErrorContact {
	background:url('../Images/errorBar.png') no-repeat;
}

.msgNoticeContact {
	background:url('../Images/successBar.png') no-repeat;	
}

.noticeBox p {
	position: relative;
	top: 18px;
	left: 130px;
}

div.noticeBox a.closeCross, a.modalCloseImg  {
    float: right;
    margin: 2px 0 0 10px;
    background: url('../Images/btn-close.png') no-repeat;
    display: block;
    height: 13px;
    width: 16px;
}

div.noticeBox a.closeCross:hover, a.modalCloseImg :hover {
    background-position: -16px 0;
}

div.noticeBox span {
	opacity: 0;
}

/**********************************************/
/*			     Contact page				  */
/**********************************************/

.floatLeft {
	float: left;
	margin-right: 14px;
}

.floatLeft ul {
	margin-left: 0px;
}

.floatLeft ul li {
	text-align: center;
}

.alignMiddleAndMargin {
	vertical-align: middle;
	margin-right: 5px;
}

/**********************************************/
/*				News page					  */
/**********************************************/

#newsWrapper {
	position: relative;
	margin-bottom: 70px;
}

.news {
	position: relative;
	height: 200px;
	width: 510px;
	margin-bottom: 30px;
	border-bottom: 25px solid #161616;
}

#newsMenuContainer {
	position: absolute;
	top: 0px;
	left: 600px;
    width: 300px;
    min-height: 200px;
    border-bottom: 25px solid #161616;
}

.ie7 #newsMenuContainer, .ie8 #newsMenuContainer {
	border-bottom: 1px solid #ccc;
}

#themesList ul {
	margin-left: 0px;
	position: relative;
	left: -22px;
}

#themesList li a {
	display: block;
	background: url('../Images/categoryGrey.png') no-repeat;
	height: 26px;
	padding-left: 35px;
	line-height: 22px;
	text-decoration: none;
	margin-bottom: 5px;
}
#themesList li a:hover {
	background: url('../Images/categoryBlue.png') no-repeat;	
}

.news p {
	text-align: justify;	
}

.mainPicture {
	max-height: 100px;
	float: left;
	margin-right: 20px;
	border: 1px solid #7C868B;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.newsRibbon {
	position: absolute;
	top: 8px;
	left: -5px;
}

.toolsBar {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.toolsBar a {
	margin-left: 15px;
}

.toolsBar img {
	vertical-align: middle;
}

.bottom {
	margin-bottom: 40px;
	padding: 20px;
}

.bottom p {
	margin-bottom: 10px;
}

.bottom ul {
	margin-bottom: 15px;
	margin-top:	15px;
}

.bottom h3 {
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
}

.newsBottom {
	height: 20px;
	background-color: #000000;
	opacity: 0.6;
}

.ie8 .newsBottom {
	display: none;
}

#me {
	margin-bottom: 70px;
}

.smallImage {
	width: 20px;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 5px;
}

/**********************************************/
/*				News details				  */
/**********************************************/

#newsDetails {
	margin:	70px auto;
}

#newsDetails h1 {
	color: #472626;	
	font-size: 30px;
	font-weight: normal;
	padding-bottom: 10px;
}

#newsDetails p {
	text-align: justify;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
}

#newsDetails img {
	float: left;
	width: 250px;
	margin-right:20px;
	margin-bottom: 10px;
	border: 1px solid #7C868B;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ie7 #newsDetails img, .ie8 #newsDetails img {
	border-radius: 5px;
	behavior: url('jelix/js/PIE.htc');
}

/**********************************************/
/*				About page					  */
/**********************************************/

#virtualCard {
	clear: both;
}

/**********************************************/
/*				Commentaires news   		  */
/**********************************************/

.comsBody {
	padding-left: 50px;
	margin-bottom: 30px;
	min-height: 60px;
	background-image: url('../Images/comsQuote.png');
	background-repeat: no-repeat;
}

.comsBody hr {
	margin: 0px;
	margin-top: 5px;
}